{% extends "jefe.html" %}

{% load static %}

{% block title %} Registar sueños {% endblock %}

{% block contenido %}
<h2 align="center">Registro de sueños, pa que no los olvides</h2>
<div class="otro">
    <form method="POST"> {% csrf_token %}
        <div class="pregunta">
            <input type="text" name="titulo" placeholder="¿Qué título tendrá tu sueño?">
            <input type="textarea" name="suenio" placeholder="Describe lo que recuerdes:">
            <input type="text" name="pseudonimo" placeholder="¿Cómo quieres ser nombrado?">
            <input type="text" name="fecha" placeholder="¿Cuándo lo soñaste?">
            <div>
                <button type="submit" class="centrado">Registrar sueño</button>
            </div>
        </div>
    </form>    
</div>

{% endblock %}