{% extends "jefe.html" %}

{% load static %}

{% block contenido %}
<div class="otro">
    
        <div class="pregunta">
            <p>¿Cómo imaginas otra ciudad?</p>
            <form method="POST"> {% csrf_token %}
            <input type="text" name="suenio" placeholder="¿Cómo sueñas la ciudad?">
            <input type="text" name="pseudonimo" placeholder="¿Cómo quieres ser nombrado?">
            <input type="text" name="fecha" placeholder="¿En qué fecha te gustaría estar?">
            <button type="submit">Registrar</button>
            </form>
            
                    
                        
                    
            
        </div>
    
</div>
{% endblock %}