{% extends "jefe.html" %}
{% load static %}


{% block contenido %} 
    <div style="position: relative; top: 80px; left: 25%;">

        <table class="redTable" text-align="justify">
            <thead>
                <tr>
                    <th>Nombre de usuario: {{ user.username }}</th>
                </tr>
                <tr>
                    <th>Email: {{ user.email }}</th>
                </tr>
                <tr>
                    <th>Nombre: {{ user.first_name }}</th>
                </tr>
                <tr>
                    <th>Apellido: {{ user.last_name }}</th>
                </tr>
            </thead>
        </table>
        <br>    
        <a class="btn btn-success" style="text-decoration: none; color: rgba(193, 209, 23, 0.907)" href="/familia/perfil/editarPerfil">Editar Perfil</a>
    </div>    
{% endblock %}
