{% extends "jefe.html" %}
{% load static %}

{% block title %} Perfil {% endblock %}
{% block contenido %} 
    <div style="position: relative; top: 80px; left: 25%;">

        <table class="redTable" text-align="justify">
            <thead>
                <tr>
                    <th><img src="{{ user.image.url }}" style="width: 300px; height: auto;"</th> <!-- No muestra la imagen-->
                </tr>
                <tr>
                    <th>Nombre de usuario: {{ user.username }}</th>
                </tr>
                <tr>
                    <th>Email: {{ user.email }}</th>
                </tr>
                <tr>
                    <th>Nombre(s): {{ user.first_name }}</th>
                </tr>
                <tr>
                    <th>Apellido(s): {{ user.last_name }}</th>
                </tr>
            </thead>
        </table>
        <br>    
        <a class="btn btn-success" style="text-decoration: none; color: rgba(193, 209, 23, 0.907)" href="/suenios/perfil/editarPerfil">Editar Perfil</a>
    </div>    
{% endblock %}
